.image-container {
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: var(--component);
  margin: 20px auto;
  padding: 15px;
  
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}