.enhet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    border: solid #29465B 2px;
    width: 300px;
    min-height: 120px;
    border-radius: 3vh;
    background-color: lightgrey;
}

h2 {
    background-color: lightgrey;
}

.select-enhet {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 7vh;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

select {
    background-color: aliceblue;
}

option {
    background-color: aliceblue;
}