.list-container {
    display: flex;
    justify-content: center;
    justify-self: center;
    border: solid  #1d3140 2px;
    width: 300px;
    min-height: auto;
    border-radius: 3vh;
    background-color: var(--component-background);
}

.list-table {
    background-color: white;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.list-tr {
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 4vh;
    align-items: center;
    border-bottom: solid 1px black;
}

.list-th {
    background-color: white;
}

.list-td {
    background-color: white;
}