/* ====== Footer ====== */
footer {
    background: #2c2c2c;
    width: 100%;
    padding-top: 40px;
    color: rgb(202, 200, 200);
    list-style-type: none;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.footer-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: rgb(50, 50, 50);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #aaa;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}


/* Alle lenker i footeren */

footer a {
    text-decoration: none; 
    color: #22447b;       
    font-weight: 600;      
    transition: 0.3s;
 
}


footer a:hover {
    color: #ff6600;        
    text-decoration: underline; 
}