*{
    padding: 0;
    font-family: Ubuntu, sans-serif;
}

body {
    background-color: var(--background);
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #101523;
        --text-color: #ffffff;
        --component-background: #29465B;
        --border-color: #1d3140;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --text-color: #000000;
        --component-background: #cecece;
        --border-color: #adadad;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --component: 300px;
    }    
}

@media only screen and (min-width: 600px) {
    :root {
        --component: 90%;
    }    
}