*{
    padding: 0;
    font-family: Ubuntu, sans-serif;
}

body {
    background-color: var(--background);
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #101523;
        --text-color: #ffffff;
        --component-background: #29465B;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --text-color: #000000;
        --component-background: lightgray;
    }
}